@model IEnumerable<ASP.NETProject.Models.Monitor>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>*@

<div class="container">
    <div class="row">
        <p>
            @foreach (var item in Model)
            {
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div>
                    <div class="thumbnail">
                        <img alt="@item.Name" src="@item.ImageThumbnailUrl" class="img-responsive" style="width:100%;" />
                    </div>

                    <h5 class="name-prop">
                        <a asp-controller="Home" asp-action="ViewDetails" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                    </h5>
                </div>

                <div class="caption">
                    <h3 class="pull-right" style="display: inline-block">
                         €@Html.DisplayFor(modelItem => item.Price)
                    </h3>
                    <a class="btn btn-primary" style="display: inline-block; float:right" asp-controller="ShoppingCart" asp-action="AddToShoppingCartButton" asp-route-monitorId="@item.Id">Add to Cart</a>
                </div>
            </div>
            }
        </p>
    </div>
</div>
