@model ASP.NETProject.Models.Monitor

@{
    ViewData["Title"] = "ViewDetails";
}

<h1>ViewDetails</h1>

<div>
    <h4>Monitor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplaySize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplaySize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoldBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoldBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageThumbnailUrl)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.ImageThumbnailUrl"/>
        </dd>
        
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
